

.rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
    
  }

  .text-uppercase {
    letter-spacing: 0.2em;
  }

  .custom-separator-secton1{
    margin-top: -10px;
<<<<<<< HEAD
    width: 8rem;
=======
    width: 10rem;
>>>>>>> 63367ac90e9a8edf186cf154eb26a0c7393aadfc
    height: 6px;
    border-radius: 1rem;
    background-color: #f18622;
  }
  .custom-separator-secton2{
<<<<<<< HEAD
    width: 80%; 
    margin-top: -10px;
    margin-left: 10%;
=======
    margin-top: -10px;
    width: auto;
>>>>>>> 63367ac90e9a8edf186cf154eb26a0c7393aadfc
    height: 6px;
    size: 1;
    border-radius: 1rem;
    background-color: #f18622;
  }
  
